{% extends "base.html" %}

{% block page_content %}
<h1>Data Science</h1>
<h2>Master at TU Vienna</h2>

<p title = Data Science - Foundations>
    FDS/FD - Fundamentals of Data Science - Foundations (9,0 ECTS)<br>
    MLS/FD - Machine Learning and Statistics - Foundations (9,0 ECTS)<br>
    BDHPC/FD - Big Data and High Performance Computing - Foundations (9,0 ECTS)<br>
    VAST/FD - Visual Analytics and Semantic Technologies - Foundations (9,0 ECTS)<br>
    <br>
    105.731 VU AKSTA Statistical Computing
    188.995 VU Datenorientierte Programmierparadigmen
    188.992 VU Experiment Design for Data Science
    105.707 VU Advanced Methods for Regression and Classification
    184.702 VU Machine Learning
    VU Advanced Database Systems
    VU Data-intensive Computing
    VU Semantic Systems
    188.305 VO Informationsvisualisierung
    VO Cognitive Foundations of Visualization

</p>
<p title = Domain-Specific Aspects of Data Science>
    DSA - Domain-Specific Aspects of Data Science (9,0 ECTS)<br>
    <br>
    194.046 VU Interdisciplinary Lecture Series on Data Science
    194.147 PR Interdisciplinary Project in Data Science
    194.068 VU Fachspezifische Lehrveranstaltungen in Data Science
</p>
<p title = Fundamentals of Data Science - Core and Extension (SB)>
    FDS/CO - Fundamentals of Data Science - Core (6,0 ECTS)<br>
    FDS/EX - Fundamentals of Data Science - Extension (max 18,0 ECTS)<br>
    VU Symmetric Cryptography
    VU Advanced Cryptography
    VU Systems and Applications Security
</p>
<p title = Machine Learning and Statistics - Core and Extension (SB)>
    MLS/CO - Machine Learning and Statistics - Core (6,0 ECTS)<br>
    MLS/EX - Machine Learning and Statistics - Extension (max 18,0 ECTS)<br>
    <br>
    VU Recommender Systems
    107.330 VU Statistische Simulation und computerintensive Methoden
</p>
<p title = Big Data and High-Performance Computing - Core and Extension (SB)>
    BDHPC/CO - Big Data and High Performance Computing - Core (6,0 ECTS)<br>
    BDHPC/EX - Big Data and High Performance Computing - Extension (max 18,0 ECTS)

    181.140 VU Datenbanktheorie
    VU Graph Drawing Algorithms

</p>
<p title = Visual Analytics and Semantic Technologies - Core and Extension (SB)>
    VAST/CO - Visual Analytics and Semantic Technologies - Core (6,0 ECTS)<br>
    VAST/EX - Visual Analytics and Semantic Technologies - Extension (max 18,0 ECTS)
</p>
<p title = Freie Wahlfaecher und Transferable Skills>
    Freie Wahlfächer und Transferable Skills (9,0 ECTS)
</p>
<p title = Diplomarbeit>
    Das Prüfungsfach Diplomarbeit umfasst 30 ECTS-Punkte und besteht aus der wissenschaftlichen 
    Arbeit (Diplomarbeit), die mit 27 ECTS-Punkten bewertet wird, aus der kommissionellen Abschlussprüfung 
    im Ausmaß von 1,5 ECTS-Punkten und einem „Seminar für Diplomand_innen“ im Ausmaß von 1,5 ECTS-Punkten.
</p>

{% endblock %}